<%- include("templates/head") %>

<!--Contenido-->
<title>Acerca de Nosotros</title>

<div class="nosotros">
    <div class="mvi">
        <div class="mision">
            <h3>Misión</h3>
            <p>Desarrollar un sitio web como herramienta para el aprendizaje del lenguaje de programación PHP que funcione como guía didáctica para programadores intermedios y avanzados.
            </p>
        </div>
        <div class="vision">
            <h3>Visión</h3>
            <p>
                Posicionarse como líderes en dar solución de manera precisa y delimitada a los problemas de aprendizaje del lenguaje de programación PHP para programadores intermedios o avanzados. 
            </p>
        </div>
        <div class="integrantes">
            <h3>Equipo</h3>
            <h4>Miguel Ángel Amaya Rodriguez</h4>
            <h4>Christian Javier Ayala Guerra</h4>
            <h4>Diego José Ayala Guerra</h4>
            <h4>Luis Alonso Cornejo Delgado</h4>
            <h4>Carolina Isabel Pineda Delgado</h4>
            <h4>José Gustavo Pineda Delgado</h4>
            <h4>William Enrique Vásquez Mancía</h4>
        </div>
    </div>
    <div class="img">
        <img src="/img/EISI.png">
    </div>

</div>

<%- include("templates/footer") %>