<%- include("templates/head") %>
<a href="cuestionarioBasico">
    <div>
        <div><p>Cuestionario 1</p></div>
        <div><p>Contenido: PHP Básico</p></div>
        <div>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
        </div>
    </div>
</a>
<a href="cuestionarioIntermedio">
    <div>
        <div><p>Cuestionario 2</p></div>
        <div><p>Contenido: PHP Intermedio</p></div>
        <div>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
        </div>
    </div>
</a>
<a href="cuestionarioAvanzado">
    <div>
        <div><p>Cuestionario 3</p></div>
        <div><p>Contenido: PHP Avanzado</p></div>
        <div>
            <table>
                <tr>
                    <th>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </th>
                    <th>
                        <p>Cantidad de preguntas</p>
                    </th>
                </tr>
            </table>
        </div>
    </div>
</a>
<%- include("templates/footer") %>