<%- include("templates/head") %>
<div class="contenedor">
    <a href="#">
        <section class="cSection">
            <table>
                <tbody>
                    <tr>
                        <td rowspan="3" class="icono"><i class="fas fa-play-circle"></i></td>
                        <td colspan="2" class="titulo">Vídeo Introductorio</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="contenido">Contenido:</div>
                            <div class="pContenido"><p class="iconoDiv">·</p>Introducción del curso</div>
                            <div class="pContenido"><p class="iconoDiv">·</p>Introducción del curso</div>
                            <div class="pContenido"><p class="iconoDiv">·</p>Introducción del curso</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cantTiempo"><label id="cant">2:05</label></td>
                        <td><img class="iconoReloj" src="img/calendar-clock.svg" alt="Imagen de reloj"></i></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </a>
    <a href="#">
        <section class="cSection">
            <table>
                <tbody>
                    <tr>
                        <td rowspan="3" class="icono"><i class="fas fa-play-circle"></i></td>
                        <td colspan="2" class="titulo">Entorno de trabajo (Windows)</th>
                    </tr>
                    <tr>
                        <td colspan="2" class="contenido">
                            <div class="contenido">Contenido:</div>
                            <div class="pContenido">· Instalación de PHP</div>
                            <div class="pContenido">· Crear un servidor para PHP</div>
                            <div class="recurso">Recurso:</div>
                            <div class="pContenido">· Guía de instalación</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cantTiempo"><label id="cant">2:05</label></td>
                        <td><img class="iconoReloj" src="img/calendar-clock.svg" alt="Imagen de reloj"></i></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </a>
    <a href="#">
        <section class="cSection">
            <table>
                <tbody>
                    <tr>
                        <td rowspan="3" class="icono"><i class="fas fa-play-circle"></i></td>
                        <td colspan="2" class="titulo">Entorno de trabajo (Linux)</th>
                    </tr>
                    <tr>
                        <td colspan="2" class="contenido">
                            <div class="contenido">Contenido:</div>
                            <div class="pContenido">· Instalación de PHP</div>
                            <div class="pContenido">· Crear un servidor para PHP</div>
                            <div class="recurso">Recurso:</div>
                            <div class="pContenido">· Guía de instalación</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cantTiempo"><label id="cant">2:05</label></td>
                        <td><img class="iconoReloj" src="img/calendar-clock.svg" alt="Imagen de reloj"></i></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </a>
    <a href="#">
        <section class="cSection">
            <table>
                <tbody>
                    <tr>
                        <td rowspan="3" class="icono"><i class="fas fa-play-circle"></i></td>
                        <td colspan="2" class="titulo">Conceptos básicos</th>
                    </tr>
                    <tr>
                        <td colspan="2" class="contenido">
                            <div class="contenido">Contenido:</div>
                            <div class="pContenido">· Tipos de datos</div>
                            <div class="pContenido">· Sintáxis</div>
                            <div class="pContenido">· Estructuras condicionales</div>
                            <div class="pContenido">· Ciclos</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cantTiempo"><label id="cant">2:05</label></td>
                        <td><img class="iconoReloj" src="img/calendar-clock.svg" alt="Imagen de reloj"></i></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </a>
    
</div>
<%- include("templates/footer") %>