<%- include("templates/head") %>
<div class="contenedor">
    <a href="#">
        <section class="cSection">
            <table>
                <tbody>
                    <tr>
                        <td rowspan="3" class="icono"><i class="fas fa-play-circle"></i></th>
                        <th colspan="2" class="titulo"><p>Vídeo Introductorio</p></th>
                        <td></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td colspan="2" class="contenido"><p>Descripción: Introducción del curso.</p></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th></th>
                        <th class="cantTiempo"><label id="cant">2:05</label></th>
                        <th><img class="iconoReloj" src="img/calendar-clock.png" alt="Imagen de reloj"></i></th>
                    </tr>
                </tbody>
            </table>
        </section>
    </a>
    
</div>
<%- include("templates/footer") %>