<%- include("templates/head") %>
    <h1>HOLA ESTE ES EL HOME</h1>
    <%= console.log(data) %>
    <% for(let i=0; i<data.length;i++){ %>
        <p><%= data[i].nombre %></p>
    <% } %>
    
<%- include("templates/footer") %>