<%- include("templates/head",{ruta:'',title:'phpfordevs',loggin:login}) %>
    <div class="cuerpo">
        <div class="general">
            
            <div class="general-linea">
                <% if(login !=undefined ){%>
                    <% for(let i=0; i<data.length;i++){ %>
                        <% if(name == data[i].id_user ){%>
                        <p class="welcome2">Usuario: <%=data[i].username%></p>
                        <% } %>
                    <% } %>
                <% } %>
                <div class="cuadrados">
                    <a href="/cursos" class="Cuadrados enlace">
                        <p class="textoimagen">Cursos</p>
                        <img src="/img/cursos.jpg" width="70%" height="70%" alt="Cursos">
                    </a>
                </div>               
                <div class="cuadrados">
                    <p class="textobienvenida">Bienvenidos a PhpForDevs</p>
                    <% if(login !=undefined ){%>
                        <% for(let i=0; i<data.length;i++){ %>
                            <% if(name == data[i].id_user ){%>
                            <p class="welcome1">Usuario: <%=data[i].username%></p>
                            <% } %>
                        <% } %>
                    <% } %>
                    <img src="/img/bienvenidos.png" width="55%" height="75%" alt="Bienvenido a PhpForDevs" >
                </div>
                <div class="cuadrados">
                    <a href="/cuestionarios" class="enlace" >
                        <p class="textoimagen">Cuestionarios</p>
                        <img src="/img/cuestionario2.png" width="50%" height="90%" alt="Cuestionarios">
                    </a>
                </div>
            </div>
            <div class="general-linea">
                <div class="cuadrados">
                    <a href="/ejemplos" class="enlace">
                        <p class="textoimagen">Ejemplos</p>
                        <img src="/img/phplogo.png" width="60%" height="75%" alt="Ejemplos">
                    </a>
                </div>
                <div class="cuadradosT">
                    <p class="textoeslogan">"Somos PhpForDevs, más que una pagina de enseñanzas sobre PHP, somos tu mejor aliado en tu
                        camino de aprendizaje"</p>
                </div>
                <div class="cuadrados">
                    <a href="/foro" class="enlace">
                        <p class="textoimagen">Foro</p>
                        <img src="/img/foro.png" width="60%" height="80%" alt="Foro">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <%- include("templates/footer") %>