<%- include("templates/head") %>

        <% for(let i=0; i<data.length;i++){%>
            <p>
                <a href="<%= data[i].url %>">Video</a>
            </p>
            <% } %>

                <%- include("templates/footer") %>