<h1>Registro</h1>
<div class="registerform">
    <!--Registro de usuario-->
    <form action="register" method="POST">
        <input type="text" name="user" id="user" placeholder="Usuario">
        <input type="password" name="pass" id="pass" placeholder="Constraseña">
        <input type="submit" value="registro">
    </form>
    <!--En caso de no querer registrarse-->
    <a href="/login">Cancelar registro</a>
</div>