.formulario{
    margin: 3%;
    padding: 0%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.formulario .contacto{
    background-color: lightgrey;
    padding: 2%;
    color:#000000;
    font-size: 16px;
    border-radius: 30px;
    width: 40%;
    height: 38em;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
    line-height: 27px;
    
}
h3{
    color: #242434;
    font-size: 150%;
    text-align: center;
}
.formulario .contacto .formulario-contacto{
    background-color: none;
    padding: 12px 0;
    color:#000000;   
    font-size: 18px;
    border-radius: 30px;
    width: 100%;
    font-weight: bold;
}

.formulario-contacto label, input, textarea{
    display: block;
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: justify;
    font-size: 18px;
    resize: none;
}
p{

    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
button{
    background-color: #242434;
    border-color:#242434;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    padding: 1%;
    width: 150px;
    height: 50px;

}
button:hover{
    background-color: #545474;
    border-color:#545474;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    padding: 1%;

}
.formulario .mapa{
    background-color: lightgrey;
    padding: 2%;
    color:#000000;
    font-size: 16px;
    border-radius: 30px;
    width: 40%;
    height: 38em;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
iframe{
    line-height: 27px;
    border-radius: 15px;
    width:100%;
    height:30em;
    border:0;
}

/*Para que sea responsivo*/
@media(max-width:900px){
    .formulario{
        margin: 3%;
        display:flex;
    }

.formulario .contacto{
    padding: 5%;
    border-radius: 20px;
    width: 100%;
    margin: 5%;
    height: 100%;
}
.formulario .contacto .formulario-contacto{
    font-size: 16px;
    border-radius: 20px;
    line-height: 0%;
}
.formulario-contacto label, input, textarea{
    font-size: 16px;
    resize: none;

}
.formulario .mapa{
    padding: 5%;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    margin: 5%;
}
iframe{
    border-radius: 10px;
    width:100%;
    height:27em;
    border:0;
} 
}