.contenedorG{
    margin: 3%;
    padding: 0%;
    height: 40em;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.contenedorG a{
    width: 80%;
}
.contenedorG a .cSectionC{
    border-radius: 10px;
    margin: 0%;
    padding: 2%;
    background-color: #ececec;
    color:rgb(37, 37, 37);
}
.contenedorG a .cSectionC table{
    width: 100%;
    height: 100%;
}
.contenedorG a .cSectionC table tbody tr td p{
    text-align:left;
}
.contenedorG a .cSectionC table tbody tr .cantPreguntas{
    width: auto;
    text-align:right;
    color:darkgoldenrod;
    padding-right: 4%;
}
.contenedorG a .cSectionC table tbody tr .iconoC{
    font-size: 500%;
    color:rgb(0, 46, 92);
    text-align:right;
    padding-right: 3%;
}
.contenedorG a .cSectionC table tbody tr .estrellasC{
    color:darkgoldenrod;
}
.contenedorG a .cSectionC table tbody tr .tituloC{
    color:rgb(0, 46, 92);
    font-weight: bold;
}
.contenedorG a .cSectionC table tbody tr .tituloC .parrafo{
    text-justify: left;
}
/*Para que sea responsivo*/
@media(max-width:900px){
    .contenedorG{
        margin: 5%;
        padding: 5%;
        height: 100%;
    }
    .contenedorG a{
        width: 100%;
    }
    .contenedorG a .cSectionC{
        margin: 2%;
        padding: 0%;
    }
}

