.contenedor{
    margin-bottom: 20px;
    padding: 0;
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
}
.contenedor a .cSectionC{
    border-radius: 10px;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #ececec;
    color:rgb(37, 37, 37);
}
.contenedor a .cSectionC table{
    width: 100%;
    height: 100%;
}
.contenedor a .cSectionC table t body tr{
    margin-top: 100px;
}
.contenedor a .cSectionC table tbody tr th{
    width: auto;
    text-align: left;
}
.contenedor a .cSectionC table tbody tr .contenido{
    width: auto;
    text-align:left;
}
.contenedor a .cSectionC table tbody tr .cantPreguntas{
    width: auto;
    text-align:right;
    color:darkgoldenrod;
}
.contenedor a .cSectionC table tbody tr .icono{
    font-size: 500%;
    color:rgb(0, 46, 92);
    text-align:right;
    padding-right: 3%;
}
.contenedor a .cSectionC table tbody tr .estrellas{
    color:darkgoldenrod;
}
.contenedor a .cSectionC table tbody tr .titulo{
    color:#242434;
    font-size: 100%;
}


