/*posicion de los divs del cuestionario*/
.contenedorCuestionario{
    position:relative;
    /*height: 600px;*/
    height: 82vh;
    width: 100%;
}
.startbtn, .infobox, .quizbox, .resultbox{
    position:absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease;
}

.infobox.activeIn,
.quizbox.activeQu,
.resultbox.activeRe{
    z-index: 5;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    pointer-events: auto;
}

/*estilo del boton*/
.startbtn button{
    font-size: 25px;
    font-weight: 500;
    color: white;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #4A235A;
    cursor: pointer;
}
/*estilo de la seccion de informacion*/
.infobox{
    width: 50%;
    /*width: 80%;*/
    background: white;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
}


.infobox .infotitle{
    height: 50px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 50px;
    font-size: 20px;
    font-weight: 600;
    background: #242434;
    color: white;
}

.infobox .infolist{
    padding: 15px 50px;
}

.infobox .info{
    margin: 5px 0;
    font-size: 17px;
}

.infobox .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgrey;
}

.infobox .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
}

.buttons button.quit{
    border: 1px solid #4A235A;
    color: #4A235A;
}
.buttons button.quit:hover{
    background: #4A235A;
    color: white;
}
.buttons button.restart{
    border: 1px solid #4A235A;
    color: #4A235A;
}
.buttons button.restart:hover{
    background: #4A235A;
    color: white;
}

/*estilo del cuadro de preguntas*/
.quizbox{
    width: 75%;
    /*width: 95%;*/
    background: white;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    margin-top: 50px;
}
.quizbox header{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 25px;
    background: #242434;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}
.quizbox header .title{
    font-size: 20px;
    font-weight: 600;
    color: white;
}
.quizbox header .timer{
    color: white;
    background: #545474;
    border: 1px solid #242434;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.quizbox header .timer .timertext{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quizbox header .timer .timersec{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: black;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: white;
    border: 1px solid #e7edf3;
    user-select: none;
}

.quizbox header .time_line{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #007bff;
}

.quizbox section{
    padding: 25px 30px 20px 30px;
    background: white;
    display: block;
}

.quizbox section .questiontext{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.quizbox section .optionlist{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
}

.quizbox section .optionlist .option{
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    /*padding: 5px 15px;*/
    padding: 60px 0px;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    text-align:center;
    justify-content: center;
    width: 48%;
    height: 100%;
}

.quizbox section .optionlist1{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.quizbox section .optionlist1 .option{
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    /*padding: 5px 15px;*/
    padding: 60px 0px;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    text-align:center;
    justify-content: center;
    width: 48%;
    height: 100%;
}

section .optionlist .option:hover,
section .optionlist1 .option:hover{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
}

section .optionlist .option.correct,
section .optionlist1 .option.correct{
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}

section .optionlist .option.incorrect,
section .optionlist1 .option.incorrect{
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}
section .optionlist .option.disabled,
section .optionlist1 .option.disabled{
    pointer-events: none;
}

.footercuestionario{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

.footercuestionario .numeropreguntas span{
    display:flex;
    user-select: none;
    padding-top: 5px;
}

.footercuestionario .numeropreguntas span p{
    font-weight: 500;
    padding: 0 3px;
}

.footercuestionario .puntaje span{
    display:flex;
    user-select: none;
    padding-top: 5px;
}

.footercuestionario .puntaje span p{
    font-weight: 500;
    padding: 0 3px;
}

.footercuestionario .nextbtn{
    opacity: 0;
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    background: white;
    border: 1px solid #4A235A;
    color: #4A235A;
    line-height: 10px;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

.footercuestionario .cancelar{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    background: white;
    border: 1px solid #4A235A;
    color: #4A235A;
    line-height: 10px;
    transition: all 0.3s ease;
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

footer .nextbtn.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}


.footercuestionario .nextbtn:hover{
    background: #4A235A;
    color: white;
}

.footercuestionario .cancelar:hover{
    background: #4A235A;
    color: white;
}

.resultbox{
    background: white;
    /*width: 80%;*/
    width: 60%;
    padding: 25px 30px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.resultbox .icon{
    font-size: 100px;
    color: #242434;
    margin-bottom: 10px;
}

.resultbox .completetext{
    font-size: 20px;
    font-weight: 500;
}
.resultbox .scoretext span{
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}
.resultbox .scoretext span p{
    padding: 0 4px;
    font-weight: 600;
    text-align: center;
}
.resultbox .buttons{
    display: flex;
    margin: 20px 0;
}

.resultbox .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #242434;
    transition: all 0.3s ease;
}

.opcionimg{
    height: 40px;
    width: 100%;
    border-radius: 5px;
}

.opcionimg2{
    height: 40px;
    width: 100%;
    border-radius: 5px;
}

.opcionimg3{
    height: 70px;
    width: 100%;
    border-radius: 5px;
}

.preguntaimg{
    height: 90px;
    width: 40%;
    border-radius: 5px;
    margin-left: 30%;
    margin-right: 50%;
}

@media(max-width:900px){
    .contenedorCuestionario{
        height: 600px;
    }
    .startbtn, .infobox, .quizbox, .resultbox{
        top:40%;
        left: 50%;
    }
    .infobox{
        width: 80%;
    }
    .quizbox{
        width: 95%;
    }
    .resultbox{
        width: 80%;
    }
    .infobox .infotitle{
        height: 75px;
        font-size: 20px;
    }
    .infobox .info{
        font-size: 14px;
    }
    .infobox .buttons{
        padding: 0 20px;
    }
    .quizbox header .title{
        font-size: 17px;
        margin-right: 5%;
    }
    .quizbox header .timer .timertext{
        font-size: 15px;
    }
    .quizbox section{
        padding: 15px 10px 10px 10px;
        background: white;
        display: block;
    }
    .quizbox section .optionlist{
        height: 155px;     
    }
    .quizbox section .optionlist1{
        height: 155px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .quizbox section .questiontext{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .quizbox section .optionlist .option{
        font-size: 14px;
        height: 155px;
    }
    .quizbox section .optionlist1 .option{
        font-size: 14px;
        height: 155px;
    }
    .footercuestionario{
        height: 80px;
    }
    .footercuestionario .numeropreguntas span p{
        font-size: 12px;

    }
    .footercuestionario .numeropreguntas{
        margin-right: 10%;

    }
    .footercuestionario .puntaje span p{
        font-size: 12px;
    }

    .footercuestionario .puntaje{
        margin-right: 10%;
    }
    .footercuestionario .nextbtn{
        height: 30px;
        padding: 0 10px;
        font-size: 12px;
        margin-left: 10%;
    }
    
    .footercuestionario .cancelar{
        height: 30px;
        padding: 0 10px;
        font-size: 12px;
        margin-top: 5%;
        margin-left: 10%;
    }
    .quizbox header .time_line{
        display: none;
    }
    .opcionimg{
        height: 40px;
        width: 100%;
        border-radius: 5px;
    }
    .preguntaimg{
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }
    .opcionimg2{
    height: 15px;
    }
    .opcionimg3{
    height: 55px;
    }
}
