*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*navbar.ejs*/
ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1170px;
    margin: auto;
}

.fila{
    display: flex;
    flex-wrap: wrap;
}

.align-items-center{
    align-items: center;
}

.justify-content-between{
    justify-content: space-between;
}

.header{
    background-color: #242434;
    padding: 12px 0;
    line-height: 1.5;
}

.header .logo{
    padding: 0 15px ;
}

.header .nav{
    padding: 0px 5px;
}

.header .nav ul li{
    display: inline-block;
    margin-left: 40px;
}

.header .nav ul li a{
    display: block;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 0;
    transition: all 0.5s ease;
}

.header .nav ul li a.activado,
.header .nav ul li a:hover{
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
}

.nav-toggler{
    height: 34px;
    width: 44px;
    background-color: #ffffff !important;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    display: none;
    margin-right:15px;
}

.nav-toggler:focus{
    outline: none;
    box-shadow: 0 0 15px rgb(255, 255, 255,0.6);

}

.nav-toggler span{
    height: 2px;   
    width: 20px;
    background-color: #242434;
    display: block;
    margin: auto;
    position: relative;
}

.nav-toggler span::before,
.nav-toggler span::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #242434;
}

.nav-toggler span::before{
    transform: translateY(-6px);
}

.nav-toggler span::after{
    transform: translateY(6px);
}

/* FOOTER */
.footer{
    background-color: #545474;
    padding: 12px 0;
    line-height: 1.5;
    color:#ffffff;
    font-size: 16px;
}
.containers{
    max-width: 1170px;
    margin: auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer .containers ul li a{
    font-size: 16px;
    color: #ffffff;
    padding: 10px 0;
    transition: 0.5s ;
    
}
.footer .containers ul li a i{
    font-size: 40px;
}
.footer .containers ul li{
    display: inline-block;
    margin-left: 40px;
    
}
.footer .containers ul li a:hover{
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
}


/*logo*/

.sizeimage{
    height: 50px;
    width: 150px;
}


/*index.ejs*/
.general{
    text-align: center;
    height: 100%;
    padding-left: 15px;
    padding-bottom: 15px;
    align-items: center;
}
.general .general-linea{
    display:flex;
    margin-top: 15px;
    justify-content: space-around;
}
.cuadrados{
    float: left;
    width: 100%;
    height: 350px;
    background-color: lightgrey;
    margin-right: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.footer{
    width: 100%;
}
.cuadradosT{
    
    float: left;
    width: 100%;
    height: 350px;
    margin-right: 15px;
    background-color:lightgray;
    border-radius: 15px;
    justify-content: center;
    display:flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 20px;
    
}

.textobienvenida{

    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
    color:black;
    
}

.textoimagen{

    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
    color:black;
    
}

.textoimagen:hover{

    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
    color: blue;
    
}

/*Para que sea responsivo*/
@media(max-width:900px){
    .nav-toggler{
        display: block;
    }

    .header .nav{
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        visibility: hidden;
        transition: all 0.3s ease;
    }

    .header .nav.open{
        visibility: visible;
    }

    .header .nav ul{
        padding: 12px 15px 0;
        border-top: 1px solid rgb(255, 255, 255,0.2);
        margin-top: 10px;
    }

    .header .nav ul li{
        display: block;
        margin: 0;
    }

    .footer .containers ul{
        width: 100%;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: left;
        align-items: center;

        
    }
    .general .general-linea{
        display:block;
        align-items: center;
    }
    .cuadrados{
        float: left;
        width: 100%;
        margin-bottom: 15px;
        background-color:lightgrey;
        border-radius: 15px;
        
 
        
    }
    .cuerpo{
        text-align: center;
        padding-right: 15px;
        justify-content: center;
        display:flex;
        
    }
}


