.titulo{
    text-align: center;
}

.titulo2{
    text-align: center;
    margin-top: 50px;
    color: #242434;
    font-size: 225%;
}
.contenedorTC{
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parrafoTC{
    width: 1250px;
    text-align: justify;
    line-height : 25px;
}