.titulo{
  
    text-align: center;
}

.titulo2{
    text-align: center;
    padding-top: 30px;
    
}
.contenedorTC{
    

    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.parrafoTC{

   
    width: 1250px;
   
   
}
