<!--Boton de inicio-->
<div class="contenedor">
<div class="startbtn"><button>Iniciar Cuestionario</button></div>
<!--Cuadro de informacion-->
<div class="infobox">
    <div class="infotitle">
        <span>Indicaciones del Cuestionario</span>
    </div>
    <div class="infolist">
        <div class="info">1.El cuestionario consta de 5 preguntas</div>
        <div class="info">2.Tiene 30 segundos por pregunta</div>
    </div>
    <div class="buttons">
        <button class="quit">Salir del cuestionario</button>
        <button class="restart">Continuar</button>
    </div>
</div>
<!--Cuadro de preguntas-->
<div class="quizbox">
    <header>
        <div class="title">Cuestionario PHP</div>
        <div class="timer">
            <div class="timertext">Tiempo restante</div>
            <div class="timersec">30</div>
        </div>
        <div class="time_line"></div>
    </header>
    <section>
        <div class="questiontext">
        </div>
        <div class="optionlist">
        </div>
    </section>
<!--Footer del cuadro de preguntas-->
<footer class="footercuestionario">
    <div class="numeropreguntas">
        
    </div>
    <button class="nextbtn">Siguiente Pregunta</button>
</footer>
</div>
<!--Cuadro de resultado-->
<div class="resultbox">
    <div class="icon">
        <i class="fas fa-crown"></i>
    </div>
    <div class="completetext">Has completado el test</div>
    <div class="scoretext">
    </div>
    <div class="buttons">
        <button class="restart">Reintentar</button>
        <button class="quit">Salir</button>
    </div>
</div>
</div>