<!--Boton de inicio-->
<div class="contenedorCuestionario">
<div class="startbtn"><button>Iniciar Cuestionario</button></div>
<!--Cuadro de informacion-->
<div class="infobox">
    <div class="infotitle">
        <span>Indicaciones del Cuestionario</span>
    </div>
    <div class="infolist">
        <div class="info">1.El cuestionario consta de 5 preguntas.</div>
        <div class="info">3.La complejidad de las preguntas es acorde a la dificultad del cuestinario seleccionado.</div>
        <div class="info">3.Cada pregunta puntua 1 punto.</div>
        <div class="info">2.El cuestionario es secuencial, no se puede regresar a la pregunta anterior.</div>
        <div class="info">4.Tiene 60 segundos para responder cada pregunta.</div>
    </div>
    <div class="buttons">
        <button class="quit">Salir del cuestionario</button>
        <button class="restart">Continuar</button>
    </div>
</div>
<!--Cuadro de preguntas-->
<div class="quizbox">
    <header>
        <div class="title">Cuestionario PHP</div>
        <div class="timer">
            <div class="timertext">Tiempo restante</div>
            <div class="timersec">30</div>
        </div>
        <div class="time_line"></div>
    </header>
    <section>
        <div class="questiontext">
        </div>
        <div class="optionlist">
        </div>
        <div class="optionlist1">
        </div>
    </section>
<!--Footer del cuadro de preguntas-->
<footer class="footercuestionario">
    <div class="numeropreguntas"> </div>
    <div class="puntaje"></div>
    <div class="botonesQuiz">
    <button class="nextbtn">Siguiente Pregunta</button>
    <button class="cancelar">Cancelar Intento</button>
    </div>
</footer>
</div>
<!--Cuadro de resultado-->
<div class="resultbox">
    <div class="icon">
        <i class="fas fa-crown"></i>
    </div>
    <div class="completetext">Has completado el test</div>
    <div class="scoretext">
    </div>
    <div class="buttons">
        <button class="restart">Reintentar</button>
        <button class="quit">Salir</button>
    </div>
</div>
</div>