
</body>
<footer class="footer">
    <div class="containers">
        <ul> 
            <li><a href="#"><i class="fab fa-facebook-square"></i></a> 
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-reddit-square"></i></a>
                <a href="mailto:phpfordevs@gmail.com?"><i class="fas fa-envelope"></i></a></li>
                        
            <li><a href="#">Términos y condiciones</a></li>
            <li><a href="#">Acerca de nosotros</a></li>
        </ul>
    </div>
</footer>
<script src="js/navbar.js"></script>


</html>