<footer class="footer">
    <div class="containers">
        <ul>
            <li><a href="#" target="_blank"><i
                        class="fab fa-facebook-square"></i></a>
                <a href="https://www.instagram.com/phpfordevs/?hl=es" target="_blank"><i
                        class="fab fa-instagram"></i></a>
                <a href="https://www.reddit.com/r/PhpForDevs/" target="_blank"><i class="fab fa-reddit-square"></i></a>
                <a href="mailto:phpfordevs@gmail.com?"><i class="fas fa-envelope"></i></a>
            </li>

            <li><a href="../terminosycondiciones">Términos y condiciones</a></li>
            <li><a href="../acercaDNosotros">Acerca de nosotros</a></li>
        </ul>
    </div>
</footer>
<script src="/js/navbar.js"></script>
</body>



</html>