<header class="header">
    <div class="container">
        <div class="fila align-items-center justify-content-between">
            <div class="logo">
                <img src="/img/PHP_Gris_1.png" class="sizeimage">
            </div>
            
            <button type="button" class="nav-toggler">
                <span></span>
            </button>

            <nav class="nav">
                <ul>
                    <li><a href="/" class="activado"><i class="fas fa-home"></i> Home</a></li>
                    <li><a href="/cursos">Cursos</a></li>
                    <li><a href="#">Editor y compilador</a></li>
                    <li><a href="/cuestionarios">Cuestionarios</a></li>
                    <li><a href="/foro">Foro</a></li>
                    <li><a href="/contactanos">Contactanos</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>